---
permalink: /feed.json
eleventyExcludeFromCollections: true
---
{% set feedTitle = "Open News" %}
{% set feedUrl = "https://news.800.works/feed.json" %}
{% set feedDescription = "Latest Web3 and AI trends" %}
{% set feedItems = collections.feedArticle %}
{% include "json-feed.njk" %}
